.body{
    background-color: #e1f5fe;

    }

.cartillas1
{
margin-top: 80px;
}

.cartillas2
{
margin-top: 50px;
}

.margenbotoncalcu
{
    margin-top: 20px;
    width: 200px;
}

.resultadoimc
{
    width: 70px;
}

.textoimc
{
    margin-top: 20px; 
    text-align: center;
}